body {
  font-family: $font--body;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  max-width: $main-width;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  &--flex {
    display: flex;
    align-items: center;
  }
}