$font--body: 'Inconsolata', monospace;
$main-width: 1024px;
$color--dark: rgba(0,0,0,0.8);
$color--gray: rgba(0,0,0,0.14);
$color--gray-text: rgba(0,0,0,0.4);
$color--primary: #FF5722;
$color--success: rgba(91, 248, 91, 0.81);